
/* CSS Document */


.entire {
	width: 1265px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.wrapper-2 {
	margin-left: auto;
	margin-right: auto;
	width: 1265px;
	position:fixed;
	z-index: -1;
}

.wrapper-2 img {
	width: 1265px;
}

.wrapper-3 {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.dropbtn {
    background-color: darkslategray;
    color: white; 
    padding: 16px;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    top: 20px;
    left: 20px;
    box-shadow: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-style: bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: lightgray;
}

.insert {
	margin-bottom: 750px;
	background-color: transparent;
}

h1 {
	font-family: Calibri;
	font-size: 60px;
	left: 0;
	position:absolute;
    text-align:center;
    top: 550px;
    width: 100%;
	color: white;
}

#intro {
	width: 100%;
	display: inline-block;
	background-color: white;
}

#intro p {
	float: left;
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-weight: bold;
	font-size: 25px;
	margin-top: 100px;
	margin-left: 150px;
	color: darkslategrey;
}

#intro img {
	float: right;
	margin-top: 50px;
	margin-right: 150px;
	border-radius: 25px;
	margin-bottom: 50px;
}

#experience {
	background-color: #F6F6F6;
}

#experience p{
	text-align: center;
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-weight: bold;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 0px;
	width: 100%;
	color: darkslategray;
	
}

#baml {
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}

#baml img {
	float: left;
	margin-left: 215px;
	border-radius: 50px;
}

#exp-text {
	float: left;
	margin-left: 40px;
}
#exp-text h4 {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	font-size: 27px;
	text-align: left;
	margin-right: 100px;
	margin-bottom: 10px;
	color: peru;
}

#exp-text p1 {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	margin-top: 0px;
	font-size: 18px;
	
	text-align: left;
	color: dimgray;
}


#exp-text p {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	margin-top: 0px;
	font-size: 18px;
	text-align: left;
	color: dimgray;
}

#shekarEng {
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}

#shekarEng img {
	float: left;
	margin-left: 215px;
	border-radius: 50px;
	margin-bottom: 50px;
}

#orgs {
	background-color: white;
}

#orgs p{
	text-align: center;
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-weight: bold;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 0px;
	width: 100%;
	color: darkslategray;
}

#wics {
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}


#wics img {
	float: left;
	margin-left: 215px;
	border-radius: 50px;
}

#wics-text {
	float: left;
	margin-left: 40px;
}

#wics-text h4 {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	font-size: 27px;
	text-align: left;
	margin-right: 100px;
	margin-bottom: 10px;
	color: peru;
}

#wics-text p {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	margin-top: 0px;
	font-size: 18px;
	text-align: left;
	color: dimgray;
}

#mad {
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}


#mad img {
	float: left;
	margin-left: 215px;
	border-radius: 50px;
}

#mad-text {
	float: left;
	margin-left: 40px;
}

#mad-text h4 {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	font-size: 27px;
	text-align: left;
	margin-right: 100px;
	margin-bottom: 10px;
	color: peru;
}

#mad-text p {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	margin-top: 0px;
	font-size: 18px;
	text-align: left;
	color: dimgray;
}


#royals {
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}


#royals img {
	float: left;
	margin-left: 215px;
	border-radius: 50px;
}

#royals-text {
	float: left;
	margin-left: 40px;
	margin-bottom: 150px;
}

#royals-text h4 {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	font-size: 27px;
	text-align: left;
	margin-right: 100px;
	margin-bottom: 10px;
	color: peru;
}

#royals-text p {
	font-family: 'Calibri', 'Arial, Helvetica, sans-serif';
	margin-top: 0px;
	font-size: 18px;
	text-align: left;
	color: dimgray;
}

#interests {
	text-align: center;
	background-color: #F6F6F6;
}

#interests p {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-weight: bold;
	font-size: 40px;
	color: darkslategray
}

ul.img-list {
	list-style-type: none;
	margin: 20px;
	padding: 0;
	text-align: center;
}

ul.img-list li {
	display: inline-block;
	margin: 20px;
	height: 200px;
	width: 300px;
	position: relative;
	margin-bottom: 70px;
}

ul.img-list li img {
	border-radius: 30px;
}


span.picText {
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-style: bold;
	font-size: 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	display: table;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius: 30px;
}

span.picText span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

ul.img-list li:hover span.picText {
	opacity: 1;
}


#contact {
	margin-bottom: 0;
}

.contact-txt {
	margin-top: 200px;
	text-align: center; 
	font-family: 'Quicksand', 'Arial, Helvetica, sans-serif';
	font-weight: bold;
	font-size: 35px;
	font-style: italic;
}

.contact-txt p {
	margin-bottom: 0;
	color: darkslategray;
    position: relative;
    top: -75px;
    background: #fff;
    display: inline-block;
    padding: 0 30px;
}

ul.icon-list {
	margin-top: -25px;
	list-style-type: none;
	padding: 0;
	text-align: center;
}

ul.icon-list li {
	display: inline-block;
	margin: 10px;
	margin-bottom: 50px;
	position: relative;
}

